*{
    box-sizing: border-box;
}
body{    
    width: 100%;  
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;

}

.boxY{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    align-items: center;
    align-self: center;
    width: 70%;
    height: 300px;
    padding-bottom: 30%;
    border-radius: 5px;
}
.boxX{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.box{
    align-self: center;
    width: 30%    
}
img{
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    filter: invert(0);
}
h1{
    font-size: 3em;
}